doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title aem-webapp
  body
    div.container.mt-2
      h1.text-center.bg-primary.text-white.p-2 Experiences
      table.table.table-striped
        thead.thead-dark
          tr
            th #
            th Name
            th Link
            th Description
          
          tr
            td 1
            td XT Navbar
            td
              a(href="/experiences/global/xt-navbar/index.html") Navbar Experience
            td  The XT Navbar Experience

          tr
            td 2
            td XT Image Link
            td
              a(href="/experiences/global/xt-image-link/index.html") Image Link
            td  The Image Link Experience
            
          tr
            td 3
            td XT Container
            td
              a(href="/experiences/global/xt-container/index.html") Container
            td  The Container Experience
