doctype html
head
  meta(charset='utf-8')
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )
  title AEM FE Dev App
body
  h1.bg-dark.text-success.p-2 This is the construct...
  #app
    .root.responsivegrid
      .aem-Grid.aem-Grid--12.aem-Grid--default--12
        .global-container.aem-GridColumn.aem-GridColumn--default--12
          div(is='xp-global-container-container-root')
            .container.my-1
              div
                div.aem-Grid.aem-Grid--12.aem-Grid--default--12
                  div.global-navbar.aem-GridColumn.aem-GridColumn--default--12
                    nav.navbar.navbar-expand-lg.w-100.navbar.navbar-dark.bg-primary.navbar-expand-lg(is='xp-global-navbar-navbar-xp-global-container')
                      a.navbar-brand(href='#') Navbar
                      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                      #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav
                          li.nav-item.active
                            a.nav-link(href='#')
                              | Home 
                              span.sr-only (current)
                          li.nav-item
                            a.nav-link(href='#') Link
                          li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                              a.dropdown-item(href='#') Action
                              a.dropdown-item(href='#') Another action
                              .dropdown-divider
                              a.dropdown-item(href='#') Something else here
                          li.nav-item
                            a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
                        form.form-inline.my-2.my-lg-0.ml-auto
                          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                          span
                            button.my-style(is='xp-bootstrap-button-navButton-navbar', type='button', :component-api='ReebokButtonConfig', @click='buttonClicked();') SEARCH
                              span(is="hello-span-1" data-test="Hello" v-bind:component-api="'hello world'")
                                span(is="hello-span-2"  :component-api="'hello world 2'")
                                  span(is="hello-span-3"  :component-api="'hello world 3'")
        
